#topnav {
  .navigation-menu {
    > li {
      > a {
        i {
          margin-right: 10px;
        }
      }
    }
  }

  .btn-tour {
    margin-top: 13px;

    i {
      margin-right: 5px;
    }
  }
}
