/**
 * AdminTo Theme
 * We recommend to not change the theme files directly, create a new file to overwrite the styles.
 */
@import 'theme/style';

/**
 * Default styles
 */
@import 'variables';
@import 'pages';
@import 'animations';

/**
 * Layout
 */
@import 'navbar';

/**
 * Components
 */
@import 'components/dropdown';

/**
 * Pages
 */
@import 'pages/login';
